<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>My favourite movies to watch</h1>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>Titles</h2>
        <div class="row">
          <div class="row">
            <div class="container movie-list-container">
              <form action="/movies-destroy" name="delete-movies" method="POST">
                <ul id="movie-list">
                  {% for movie in movies %}
                    <li>
                      <input type='checkbox' name="movies-to-remove" value="{{ movie.id }}"> {{ movie.title }}, {{ movie.year }}, {{ movie.actors }}
                    </li>
                  {% endfor %}
                </ul>
                <row>
                  <a href="/movies/new">
                    <button>
                      <i class="fa-solid fa-file-circle-plus"></i>
                      Add new movie
                    </button>
                  </a>
                  <button type="submit">
                    <i class="fa-solid fa-trash"></i>
                    Delete selected movies
                  </button>
                </row>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        &copy; My move database. All rights reserved
      </div>
    </footer>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  </body>
</html>
